.page-title {
    color: #fce4ec;
    font-size: 25px;
    font-family: "New Rocker";
    text-indent: 50px;
}

.page-title:hover {
    text-decoration: none;
    color: #f48fb1;
}

.navigation {
    background-color: #bdbdbd;
    font-family: "Work Sans";
    height: 40px;
}

.main {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 100%;
    font-family: "Work Sans";
    padding: 30px;
}

.stats-title {
    font-size: 12px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: bold;
}
