<template>
  <div>
    <!-- <div class="card" style> -->
    <ul class="list-group">
      <li class="list-group-item stats-title">
        STRENGTH
        <p>10</p>
      </li>
      <li class="list-group-item stats-title">
        DEXTERITY
        <p>12</p>
      </li>

      <li class="list-group-item stats-title">
        CONSTITUTION
        <p>14</p>
      </li>
      <li class="list-group-item stats-title">
        INTELLIGENCE
        <p>10</p>
      </li>
      <li class="list-group-item stats-title">
        WISDOM
        <p>16</p>
      </li>
      <li class="list-group-item stats-title">
        CHARISMA
        <p>12</p>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</template>

<script>
export default {
  name: "test"
};
</script>
